@charset "utf-8";
/* CSS Document */

.box1{
display: inline-block;
margin-right: 600px;
margin-left: 0px;

}

.box2{
display: inline-block;
	float: right;
margin-left: 600px;
margin-right: 0px;

}

.box0{
display:inherit;
width:100%;
line-height:normal;
	margin-top:200px;
}



#input_20160628 {
  float:inherit;
  width: 90%;
  margin-right:0;
}
#input_20160628 label {
  display: none;
  margin-top: 0.5em;
}
#input_20160628 div {
  margin-top: 0.5em;
}

#input_20160628 button {
  height: 40px;
	width:100%;
}
#input_20160628 textarea {
	float:inherit;
	width: 97%;
	height: 30vh;;
	margin-bottom:7px;
} 
#result_20160628 {
	font-size: 3em;
	float:left;
}



#input_20160628-1 {
  float:inherit;
  width: 90%;
  margin-right:0;
}
#input_20160628-1 label {
  display: none;
  margin-top: 0.5em;
}
#input_20160628-1 div {
  margin-top: 0.5em;

}

#input_20160628-1 button {
  height: 40px;
	width:100%;
}
#input_20160628-1 textarea {
  float:left;
  width: 97%;
  height: 30vh;;
	margin-bottom:7px;
} 
#result_20160628-1 {
	font-size: 3em;
	text-align:right;
	float:right;
}



